body {
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    background-color: rgb(179, 149, 28);
    
}

header, footer {
    margin: 1rem auto;
    max-width: 760px;
    text-align: center;
}

/*Small or phone size*/
main {
    display:grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    grid-column-gap: 10px;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 1px solid #000;
    
}
h3, h4 {
  font-size: 2rem;
} 
section {
    border:5px solid black;
    padding: 10px;
    text-align: center;

  }

img {
    border:5px solid rgb(194, 118, 5);
    width: 250px;
    height: auto;
    margin: 5px 5px 5px 5px;
    justify-items: left;
  }

footer {
    font-size: 2rem;
    padding: 20px;
  }
