/* used to select all items in an HTML file. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}

header {
	background-color: rgb(13, 114, 122);
	display: flex;
	flex-flow: column;
    color:white;
	align-items: center;
	justify-content: center;
	padding: 10px;
    width:20%;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
    text-align: center;
}
h2 {
	padding: .5rem;
    font-weight: 900;
	color: rgb(13, 114, 122);
}

p {
	padding: .5rem;
}
h3 {
    padding: .5rem;
	color: rgb(13, 114, 122);
}

nav {
	background-color: #092f49;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #dfc21e;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: rgb(13, 114, 122);;
	color: white;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	font-size: 0.85rem;
    background-color: #eee;
    width:60%;
}

main .content {
	margin: 1rem;
	padding: 1rem;

}
.persona {

}

footer {
	display: flex;
    flex-wrap: wrap;
	padding: 1rem;
	justify-content: center;
	font-weight: 400;
    background-color: rgb(13, 114, 122);
    color:white;
    width:20%;
}
 /*Media queries for larger views*/

@media (min-width: 600px) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	
}

@media (min-width: 768px) {
	nav a {
		font-size: 1.3rem;
	}
}

