body {
	max-width: 960px;
    margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

/*-------header-------*/

header {
	display: flex;
	flex-direction: column;
	background-color: rgb(13, 114, 122);
	color:white;
	align-items: left;
	justify-content: left;
	padding: 20px;
}
.logo {
	display:flex;
}

#date2 {
	display: block;
}

picture img {
	width: 8rem;
	height: auto;

}

.headings {
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1rem;
	padding: .5rem;
}
.social {
	display: flex;
	gap: 10px;
}
.social svg {
	width: 32px;
	height: auto;
}

/*-------nav-------*/
nav {
	max-width: 700px;
	margin: 10px auto;
}

/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 75px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: rgb(13, 114, 122);
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #FE7F2D;
	
}
ul {
	margin-block-start: 0;
	padding-inline-start: 0;
}
.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#333;
}
.navigation li a:hover {
	background-color:#FCCA46;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.responsive li {
	display: block;
	width: 100%;
}
.responsive li a {
	display: block;
}


/*-------main--------*/

#content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	'hero'
	'event'
	'weather'
	'news'
	'spotlight'
	'spotlight';
	grid-gap: 10px;
	max-width: 960px;
	margin: 5px;
}
#content img{
	width: 100%;
	height: auto;
}
#content .hero {
	margin: 10px auto;
	position: relative;

}

#content .hero img {
	position: relative;
	background-size: cover;
}

.hero h2 {
	position: absolute;
	top: 20px;
	left: 50px;
	
}
.sun {
	color:#FCCA46;
	font-size: 80px;
}
#joinbutton {
	position: absolute;
	top: 230px;
	left: 300px;
	border-radius: 25px;
  	background: #FCCA46;
  	padding: 20px;
	
}
#joinbutton a {
	text-decoration: none;
	color:#16065c;
	text-align: center;
	font-weight: 800;
	
}

#content .event {
	grid-area: event;
	text-align: center;
	padding: 10px;

}
#content .event h2 {
	color:#FCCA46;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#content .event a {
	text-decoration: none;
}
#content .hero {
	grid-area: hero;
}

#content .weather {
	grid-area: weather;
	text-align: center;
}

#content .news {
	grid-area: news;
	text-align: center;
}
.spotlight {
	display: flex;
	flex-direction: column;
	
}
#content .spot1 .spot2 {
	grid-area: spotlight;
	width: 100%;
	margin: 200px;
	
}
#content .spot3 {
	display: none;
}
#content .join {
	display: none;
}

#content div {
	background-color: #bbb;
	border: 2px solid rgb(13, 114, 122);
	padding: 10px;
}

/*-------footer------------*/

footer {
	padding: 1rem;
	justify-content: center;
    text-align: center;
	font-weight: 400;
    background-color: rgb(13, 114, 122);
    color:white;
}
footer img {
	width: 8rem;
	height: auto;

}
footer a {
	font-size: 1.5rem;
	color:#16065c;
	text-decoration: none;
}
footer a:hover {
	color: white;
}