body {
	max-width: 960px;
    margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
   
}

body, .banner {
    margin:0 auto;
}
.banner {
    margin: 0;
    display:block;
    background: #eab46a;
    
}
.banner-content {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
.banner-text {
    flex-grow: 1;
    line-height:  1;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
.banner-close {
    background: none;
    border:none;
    cursor: pointer;
    padding: 10px;
}
.banner-text {
    color: black;

}
.banner-close > span {
    color: red;
}

/*-------header-------*/

header {
	display: flex;
	flex-direction: column;
	background-color: rgb(61, 156, 162);
	color:white;
    max-width: 960px;
    position: relative;
    
}

.logo {
	display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;       
}

#date2 {
	display: block;
}

.headings {
	font-size: 1rem;
	padding: 1rem;
}

.social {
	display: flex;
	gap: 10px;
    align-self: flex-start;
}

.social svg {
	width: 32px;
	height: auto;
}

/*-------nav-------*/
nav {
	margin: 1px auto;
    font-size: 1.5rem;
}

/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 100px;
	right: 20px;
	width: fit-content;
	font-size: 1.8rem;
	padding: .5rem;
	color: rgb(13, 114, 122);
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #b98b4a;
	
}
ul {
	margin-block-start: 0;
	padding-inline-start: 0;
}
.navigation li {
    display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#333;
}
.navigation li:hover {
	background-color:#FCCA46;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.responsive li {
	display: block;
	width: 100%;
}
.responsive li a {
	display: block;
}

/*-------main--------*/


.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	max-width: 960px;
	margin: 5px;
    padding: 5px;
    color: #23487B;
    
}

.hero {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

/*.wdd230picture {
    width: 100%;
    object-fit: cover;

}*/



.heroImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}

.hero-h2 {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 1.8rem;

}

.heroJoin {
	position: absolute;
	top: 85%;
	left: 50%;
	border-radius: 25px;
  	background:  #b98b4a;
  	padding: 20px;
    box-shadow: 0 0 30px #f4eeee;	

}

.heroJoin a {
	text-decoration: none;
	color:#121112;
    background:  #b98b4a;
	text-align: center;
	font-weight: 800;	
}

.event {
    border-radius: 10px;
    background-color:rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.event a {
	text-decoration: none;
}

.weather{
    border-radius: 10px;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

figcaption {
    font-size: 1.5rem;
    text-decoration: underline;
}

.news{
    border-radius: 10px;
    background-color:rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 5/6;
}

.spotlight{
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.spot1{
    grid-row: 1/2;
    border: 1px solid black;
}
.spot2{
    grid-row: 2/3;
    border: 1px solid black;
}
.spot3 { 
    display: none;
}

.h2headings {
    border-bottom: 2px solid black;
    color:#1e5e76;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-size: 1.5rem;
}

.join {
    display: none;
 }

/*Dicovery Page*/

.discoverMain {
    margin: 10px auto;
    color: #23487B;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px darkgray;
    max-width: 700px;
    margin: 8px auto;
}

.discoverMain img {
    width: 100%;
    margin: 8px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px darkgray;
}

.demographics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #23487B;
}

.demographics img {
    width: 200px;
    align-self: center;
    margin: 8px auto;
}


.pDiscover {
    font-size: 1.2rem;  
    padding: 1rem;  
}

.temple {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
}
.carnival{
    grid-column: 1/2;
    grid-row: 3/4;

}
.hotSprings {
    grid-column: 1/2;
    grid-row: 4/5;
}

.biking {
    grid-column: 1/2;
    grid-row: 5/6;
}

.demographics {
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    text-align: center;
}
.map {
    grid-row: 1/2;
    border: 1px solid black;
}
.graph {
    grid-row: 1/2;
    border: 1px solid black;
}

.visits1 {
    background-color: #1e5e76;;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ----------Form-------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #23487B;
    border-radius: 10px;
    padding: 2px;
    
    
}

form legend {
    color: #23487B;
    margin: 0 1rem;
    padding: .5rem;
    box-sizing: border-box;
    border: 2px solid rgb(13, 114, 122);
    font-size: 1.2rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1.2rem;
}

input[type='radio'] {
    transform: scale(1.5);
    width: 40px;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.2rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #23487B;
    font-size: 1.2rem;
}

form input.submitBtn {
    border: none;
    background-color: #693411;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.hidden {
    display: none;
}
.levelBtn {
    border: none;
    background-color: #693411;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    font-size: 1.2rem;
}

/*---------Thank you ----------*/

.thanksP {
    display: block;
    width: auto;
    height: 20rem;
    margin-top: 10%;
    font-size: larger;
    color: #23487B;
    padding: 20px;
}
/* -------directory-------*/
* {
    box-sizing: border-box;
  }

h2.directory {
    text-align: center;
    margin: 1rem;
}

div.directory-button {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
}

div.directory-button button {
    border: 2px solid black;
    background-color: #b98b4a;
    padding: .50rem;
    margin: .50rem;
    box-shadow: 1px 1px 3px #555;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

div.directory-button button:hover {
    border: 2px solid #23487B ;
}


div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border:  5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  
    margin-bottom: 10px;
    box-shadow:0 0 10px darkgray;
    gap: 20px;
    
  }

  div.cards section {
    padding: 1rem;
    border: 5px solid rgba(0, 0, 0, 0.1);
    color: black;
    background-color: rgb(199, 217, 220);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

 div.cards section img {
    width: 120px;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 20px #fff;
    margin-top: 1rem;
  }



/* list view */
div.list  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin: 0;
    padding: .5rem;
}

div.list section:nth-child(odd) {
    background-color: whitesmoke;
}

div.list section img {
    display: none;
}

div.list section h3 {
    font-size: 1.2rem;
    
}


/*-------footer------------*/

footer {
	padding: 1rem;
    text-align: center;
	font-weight: 400;
    background-color: rgb(61, 156, 162);;
    color:white;
}
.footerlogo {
	display: block;
    justify-items: center;

}
footer a {
	font-size: 1.5rem;
	color:#16065c;
	text-decoration: none;
}
footer a:hover {
	color: white;
}

.copyright {
    display: block;

}
