body {
	max-width: 960px;
    margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    background-color: rgb(124, 186, 182);
}

body, .banner {
    margin:0 auto;
}
.banner {
    margin: 0;
    display:block;
    background: #e6921d;
    
}
.banner-content {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
.banner-text {
    flex-grow: 1;
    line-height:  1;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
.banner-close {
    background: none;
    border:none;
    cursor: pointer;
    padding: 10px;
}
.banner-text, .banner-close > span {
    color: black;

}

/*-------header-------*/

header {
	display: flex;
	flex-direction: column;
	background-color: rgb(13, 114, 122);
	color:white;
    max-width: 960px;
    position: relative;
    
}

.logo {
	display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;       
}

#date2 {
	display: block;
}

.headings {
	font-size: 1rem;
	padding: 1rem;
}

.social {
	display: flex;
	gap: 10px;
    align-self: flex-start;
}

.social svg {
	width: 32px;
	height: auto;
}

/*-------nav-------*/
nav {
	margin: 1px auto;
    font-size: 2rem;
}

/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 100px;
	right: 20px;
	width: fit-content;
	font-size: 1.8rem;
	padding: .5rem;
	color: rgb(13, 114, 122);
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #e6921d;
	
}
ul {
	margin-block-start: 0;
	padding-inline-start: 0;
}
.navigation li {
    display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#333;
}
.navigation li:hover {
	background-color:#FCCA46;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.responsive li {
	display: block;
	width: 100%;
}
.responsive li a {
	display: block;
}

/*-------main--------*/


.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	max-width: 960px;
	margin: 5px;
    padding: 5px;
    
}

.hero {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.wdd230picture {
    width: 100%;
    object-fit: cover;

}


/*
.heroImage img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}*/

.hero-h2 {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 1.8rem;

}

.heroJoin {
	position: absolute;
	top: 85%;
	left: 50%;
	border-radius: 25px;
  	background: #FCCA46;
  	padding: 20px;
    box-shadow: 0 0 30px #f4eeee;	

}

.heroJoin a {
	text-decoration: none;
	color:#16065c;
    background: #FCCA46;
	text-align: center;
	font-weight: 800;	
}

.event {
    border-radius: 10px;
    background-color:rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.event a {
	text-decoration: none;
}

.weather{
    border-radius: 10px;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.weather-icon {
	color:#FCCA46;
	font-size: 80px;
}

.news{
    border-radius: 10px;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 5/6;
}

.spotlight{
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(205, 222, 229);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.spot1{
    grid-row: 1/2;
    border: 1px solid black;
}
.spot2{
    grid-row: 2/3;
    border: 1px solid black;
}
.spot3 { 
    display: none;
}

.h2headings {
    border-bottom: 2px solid black;
    color:#c25f1d;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-size: 1.5rem;
}

.join {
    display: none;
 }


/*-------footer------------*/

footer {
	padding: 1rem;
    text-align: center;
	font-weight: 400;
    background-color: rgb(13, 114, 122);
    color:white;
}
.footerlogo {
	display: block;
    justify-items: center;

}
footer a {
	font-size: 1.5rem;
	color:#16065c;
	text-decoration: none;
}
footer a:hover {
	color: white;
}

.copyright {
    display: block;

}