@media screen and (min-width: 35rem) {
    #hamButton { display: none; }
    nav ul #responsive {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid black;
    }
    nav li {
        display: block;
        flex: 1 1 100%;

    }

    .navigation {
		flex-direction: row;
	}
    .navigation li {
        display:block;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid black;
        color: yellow;
    }
    #content {
        display: grid;
        grid-template-areas: 
        'hero hero hero'
        'news news news'
        'spotlight spotlight spotlight'
        'join join join'
        'event event weather';

    }
    #content .event {
        grid-area: event;
    }
    #content .hero {
        grid-area: hero;
    }
    
    #content .weather {
        grid-area: weather;
    }
    
    #content .news {
        grid-area: news;
    }
    #content  .spotlight {
        grid-area: spotlight;
        flex-direction: row;
        
    }
    #content .spot1 {
        width:50%;
    }
    #content .spot2 {
        width:50%;
    }

    #content .join {
        display: block;
        grid-area: join;
    }
    
}