body{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}

header, footer {
    margin: 1rem auto;
    max-width: 760px;
    background-color: rgb(222, 140, 82);
    color:black;
    border: 1px solid #000;
    width: min(95%, 70rem);
}

h1 {
    font-size: 2.5rem;
    margin: .15rem;
}

h2 {
    font-size: 1rem;
    margin: .15rem;

}

main {
	width: min(95%, 70rem);
    max-width: 760px;
    margin: 1rem auto;
    color:rgb(13, 13, 13);
    gap: 1rem;

}
ul {
    color:rgb(6, 84, 36)

}
a {
    color:rgb(81, 40, 10);
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-row-gap: 10px;
    padding:1rem;
    text-align: center;
    align-items: center;
}

footer {
    padding: 1rem;
    text-align: center;
}

 header img {
    width: 200px;
    height: auto;
    margin: 10px 10px 10px 10px;
    border: 1px solid #000;
    justify-items: left;
}