body{
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
}
#content {
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-row-gap: 10px;
    align-items: center;
}

header, footer {
    margin: auto;
    max-width: 760px;
    border-radius: 5px;
    background-color: rgb(222, 140, 82);
    color:black;
    border: 1px solid #000;
    box-shadow: #000;
    width: min(95%, 70rem);
}
main {
    grid-row: 2/ 3;
    grid-column: 1/3;
	width: min(95%, 70rem);
    max-width: 760px;
    margin: auto;
    color:black;
    gap: 1rem;
    z-index: 15;

}

header {
    grid-column: 2/ 3;
    grid-row: 1/2 ;
    padding:1rem;
    text-align: right;
}

footer {
    grid-column: 1/ 3;
    grid-row: 3/4  ;
    padding: 1rem;
    text-align: center;
}

img {
    grid-column: 1/2;
    width: 25%;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #000;
    justify-items: left;
}