@media screen and (min-width: 60rem) {

    header {
        max-width: 1000px;
        position: relative;
    }
    .logo {
        margin: 8px;
        justify-content: center;
        align-items: center;
           
    }

/*-------nav-------*/
#hamButton { display: none; }
    
nav ul li a {
    border: none;
    border-right: 1px solid black;

    }

nav ul #responsive {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid black;
    }

.navigation li {
	display: block;
    flex: 1 1 auto;
    
	}

    /*Weather*/
#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    gap: 2px;
  }

  form label.top input, form label.top select {
    width: 100%;
    max-width: 80rem;
    background-color: rgba(0, 0, 0, 0.1);
  }  
} 
  
  